h1 {
  text-align: center;

  color: rgb(204, 164, 164);
  text-align: center;
  background-color: rgb(124, 0, 128);
  width: 100%;
  height: 70%;
}

div {
  text-align-last: right;
  color: rgb(44, 18, 190);
}

h2 {
  text-align: left;
  font-display: var(border:bottom 20px; ) color:red
}

main {

  text-align: center;
  color: rgb(93, 12, 160);
  text-align: center;
  background-color: rgb(42, 36, 129);
  width: 100%;
  height: 70%;
}

.fundo {

  background-image: url(../portifolio/Img/fundo.jpg);
  background-size: 0, auto;
  background-repeat: no-repeat;

}